@use 'sass:color';

.header {
  @include display-grid;
  @include grid-template-columns(repeat(2, 1fr));

  max-width: 100%;
  padding: 20px;

  .navbar {
    @include grid-column(1, 2);
    border-bottom: 2px solid color.scale($primary-color, $lightness: 50%);

    ul {
      height: 100%;
    }

    li {
      display: inline-block;
      height: 100%;
      margin: 0 5px;
      text-align: center;

      &:hover {
        border-bottom: 3px solid $primary-color;
      }

      @include media(tablet) {
        width: 80px;
      }
    }
  }

  .user-profile {
    @include grid-column(2, 3);
    justify-self: end;
    margin-bottom: 10px;
    color: $secondary-color;
    cursor: pointer;

    &:hover {
      color: $dark-color;
    }
  }
}
